.navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
    background-color: #000000;
    overflow: hidden;
}

.navigation-links {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-left: 40px;
    gap: 25px; 
    color: #ffffff;
}


.navigation-logo img {
    object-fit: contain;
    margin-left: 100px;
    margin-top: 20px;
}


.navigation-menu {
    overflow: hidden;
}
  
.navigation-menu__button {
    background-color: #000000;
    border: none;
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
    padding: 10px;
    color: #ffffff;
}

.fa fa-caret-down {
    font-size: 1.5rem;
    color: #ffffff;

}

.navigation-menu__content {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 1;
    min-width: 200px;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #000000;
}

.navigation-menu:hover .navigation-menu__content {
    display: block;
}


.navigation-menu-2 {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.carret {
    height: 20px;
    width: 20px;
}


.navigation-button {
    display: none;
  }
  
  
  @media only screen and (max-width: 600px) {
    .navigation-links {
      display: none;
      flex-direction: column;
    }
    
    /* Display the dropdown button on smaller screens */
    .navigation-button {
      display: block;
      margin-top: 60px;
      margin-left: 40px;
      background-color: #000000;
      border: 1px solid #ffffff;
      font-size: 1.5rem;
      font-family: 'Cinzel', serif;
      color: #ffffff;

    }

    .navigation-links.open {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        margin-left: 0px;
        color: #ffffff;
      }


  }
  


