.coverpage {
    display: flex;
    flex-direction: column;
    background-image: url('../../resources/umokkurbackground.jpeg');
    background-size: cover;
    align-items: center;
}

.cover-text {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.cover-text h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
    font-family: 'Cinzel', 'serif';
    margin-top: 50px;
    padding: 0;
}

.cover-text p {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Cinzel', 'serif';
    margin: 0;
    padding: 0;
}

.súpuplan {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #000000;
    width: 100%;
    margin: 0;
}

.divider {
    width: 50%;
    background-color: white;
    position: relative;
    height: 1px;
    margin-bottom: 1px;
}

.súpuplan h2 {
    font-size: 40px;
    font-weight: 100;
    font-family: 'Cinzel', 'serif';
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 0;
}

.súpuplan p {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Cinzel', 'serif';
    margin-bottom: 1px;
    padding: 0;
}

.súpuplan-text {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.weekday {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 20px;
}

.weekday p {
    font-size: 20px;
    font-weight: 100;
    font-family: 'Cinzel', 'serif';
    margin-top: 20px;
    padding: 0;
}

.divider2 {
    width: 70%;
    background-color: white;
    height: 1px;
    margin-top: 20px;
}

.cover-text2-container {
    display: flex;
    flex-direction: column;
    /* background-image: url('../../resources/kokur.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    height: 100%;
    width: 100%;
}

.cover-text2 {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cover-text2 h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 100;
    font-family: 'Cinzel', 'serif';
    margin-top: 50px;
    padding: 0;
}

.cover-text2 p {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Cinzel', 'serif';
    margin: 0;
    padding: 0;
}

.route_button {
    display: flex;
    width: 80px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 100px;
    font-family: 'Cinzel', 'serif';
    font-size: 15px;
}

.route_button :hover {
    display: flex;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}




