.vara {
    display: flex;
    flex-direction: row;
    width: 850px;
    height: 200px;
    border: 5px solid rgb(138, 98, 98);
    border-radius: 5px;
    margin: 10px;
    background-color: antiquewhite;
    padding: 40px;
}


.vara-info {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    margin-left: 100px;
}

.vara-info h3 {
    font-size: 30px;
    font-family: 'monteserrat', sans-serif;
    color: rgb(138, 98, 98);
    margin: 0;
    padding: 0;
}


.vara-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 50px;
}