.vara {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 30%;
    border: 5px solid rgb(255, 255, 255);
    margin-bottom: 30px;
    background-color: rgb(0, 0, 0);
}


.vara-info {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.vara-info h3 {
    font-size: 30px;
    font-family: 'Cinzel', 'serif';
    font-weight: 100;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    padding: 0;
}

.vara-info p {
    font-size: 20px;
    font-family: 'Cinzel', 'serif';
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

.vara-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 5px solid rgb(255, 255, 255);
}