.container_kokur {
    display: flex;
    flex-direction: column;
    background-image: url('../../resources/Coverbraud.JPG');
    background-size: contain;
    align-items: center;
}

.vara-header_kokur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 30px;
    margin-left: 40px;
    width: 60%;
    height: 150px;
    border: 5px solid rgb(255, 255, 255);
}
.vara-header_kokur h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Cinzel', 'serif';
    font-weight: 100;
    margin: 0;
    padding: 0;
}
.vara-list_kokur {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}