.container_rúnstykki {
    display: flex;
    flex-direction: column;
    background-image: url('../../resources/Coverbraud.JPG');
    background-size: contain;
    align-items: center;
}

.vara-header_runstk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 30px;
    margin-left: 40px;
    width: 60%;
    height: 150px;
    border: 5px solid rgb(255, 255, 255);
}
.vara-header_runstk h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Cinzel', 'serif';
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.vara-header_runstk p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Cinzel', 'serif';
    margin: 0;
    padding: 0;
}

.vara-list_runstk {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
    align-items: center;
}